:root {
  --primary-color: #3498db; /* Azul claro */
  --secondary-color: #2ecc71; /* Verde */
  --danger-color: #e74c3c; /* Vermelho */
  --background-color: #0d1117; /* Preto para o fundo da página */
  --container-bg: #1e2a38; /* Azul escuro para o fundo do container e do formulário */
  --form-bg: #1e2a38; /* Mesmo fundo para o formulário e container */
  --form-border: #3498db; /* Azul claro para a borda do formulário */
  --input-bg: #2c3e50; /* Azul muito escuro para o fundo do input */
  --input-border: #34495e; /* Azul escuro para a borda do input */
  --task-bg: #1e2a38; /* Azul escuro para as tarefas */
  --task-border: #0d1117; /* Preto para a borda das tarefas */
  --task-hover: #25303f; /* Azul um pouco mais claro para o hover das tarefas */
  --text-color: #f5f5f5; /* Texto claro */
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: var(--container-bg); /* Fundo cinza escuro para o container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o título */
.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
}

/* Estilo do formulário */
.taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--form-bg); /* Fundo azul escuro para o formulário */
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border: 2px solid var(--form-border); /* Borda azul claro */
}

/* Estilo para o input */
.task {
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  font-size: 16px;
  color: var(--text-color);
  width: 100%;
}

.task:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Estilo para o botão */
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

button:hover {
  background-color: #2980b9; /* Azul um pouco mais escuro para hover */
  transform: scale(1.05);
}